{% extends "master/base.html" %}
{% block title %} 任务详细 {% endblock %}

{% block subtitle %} 采样任务 >> 我的任务 >> 任务详细 {% endblock %}

{% block content %}
<div class="main-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4> 【 {{ taskInfo.River }} 】 基本情况 </h4>
                </div>
                <div class="card-body">
                    基本信息
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4> 水质结果 </h4>
                </div>
                <div class="card-body">
                    水质结果
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4> 物种管理 </h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4> 任务报告管理 </h4>
                </div>
                <div class="card-body">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>姓名 | 电话 | 微信</th>
                                <th>是否核心成员</th>
                                <th>简易报告</th>
                                <th>科学报告</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in members %}
                            {% if item.IsMember == True or 1==1 %}
                            <tr>
                                <th scope="row">{{ item.Id }}</th>
                                <td>{{ item.UserName }} | {{ item.Mobile }} | {{item.WeChat}}</td>
                                <td>
                                    {%if item.IsMember==0 %}
                                    <span class="badge badge-warning">参与者</span>
                                    {% else %}
                                    <span class="badge badge-primary">核心人员</span>
                                    {% endif %}
                                </td>
                                <td class="color-primary">
                                    <a href="/report/{{ taskInfo.Id }}" target="_blank">生成</a>
                                    | <a href="/report/{{ taskInfo.Id }}" target="_blank">查看</a>
                                </td>
                                <td class="color-primary">
                                    <a href="/report/{{ taskInfo.Id }}" target="_blank">生成</a>
                                    | <a href="/report/{{ taskInfo.Id }}" target="_blank">查看</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}